<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
         PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
         "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kongzhu.demo.mybatis3.MessageMapper">
    <insert id="insert" parameterType="Message3">
        insert into message (id, text) values (#{id}, #{text})
    </insert>
    <update id="update" parameterType="Message3">
        update message set text = #{text} where id = #{id}
    </update>
    <delete id="delete" parameterType="int">
        delete from message where id = #{id}
    </delete>
    <select id="selectList" resultType="Message3">
        select id, text from message
    </select>
</mapper>
