<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
         PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
         "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kongzhu.demo.mybatis4.MessageMapper">
    <insert id="insertOne" parameterType="Message">
        insert into message (id, text) values (#{id}, #{text})
    </insert>
    <update id="updateOne" parameterType="Message">
        update message set text = #{text} where id = #{id}
    </update>
    <delete id="deleteOne" parameterType="int">
        delete from message where id = #{id}
    </delete>
    <select id="selectList" resultType="Message">
        select id, text from message
    </select>
</mapper>