<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
         PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
         "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kongzhu.demo.mybatis.MessageMapper">
    <!-- 这个语句被称作 selectById，接受一个 int（或 Integer）类型的参数，并返回一个 String 类型的对象 -->
    <select id="selectById" parameterType="int" resultType="string">
        select text from message where id = #{id}
    </select>
</mapper>